<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" />
        <link rel="stylesheet" href="static/style.css" />
    </head>
    <body>
        <div class="wrapper">
            <h3>Account Login</h3>

            <form id="form" action="" method="post">
                <p>
                    <input class="form-control" type="text" name="username" id="username" placeholder="Enter your username" onkeydown="validation()">
                    <span id="error_username"></span>
                </p>
                <p>
                    <input class="form-control" type="password" name="password" placeholder="Enter your password">
                </p>
                <p>
                    <input type="submit" class="btn">
                </p>
            </form>
        </div>
    </body>
    <script src="static/index.js"></script>
</html>